*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress{
    background-color: gray;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    padding: 4px;
}
.progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: #ffff;
    height: 100%;
    width: 0;
    max-width: 100%;
    border-radius: 20px;
    transition: 1s ease-in 0.3s;
}